Source: liteshort 
Maintainer: Steven Spangler <132@ikl.sh>

Package: liteshort
Depends: python3-aiofiles, python3-fastapi, python3-h11, python3-httptools, python3-imutils, python3-jinja2, python3-netifaces, python3-numpy, python3-pydantic, python3-pynetworktables, python3-python-multipart, python3-requests, python3-starlette, python3-toposort, python3-uvicorn, python3-uvloop
Architecture: all
Description: User-friendly, actually lightweight, and configurable URL shortener
