#!/usr/bin/make -f

DISTRIBUTION = buster
VERSION = $(VERSION)
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = liteshort-$(VERSION).tar.gz
URL = https://github.com/132ikl/liteshort

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_debian/tmp/build:
override_dh_auto_install:
	git clone --depth 1 --branch "v$(VERSION)" "$(URL)" debian/tmp/build/
	mkdir -p debian/liteshort/usr/lib/python3/dist-packages/
	mkdir -p debian/liteshort/usr/bin/
	cp -r debian/tmp/build/liteshort/ debian/liteshort/usr/lib/python3/dist-packages/
	cp debian/tmp/build/liteshort.py debian/liteshort/usr/bin/liteshort
	chmod +x debian/liteshort/usr/bin/liteshort
override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
